<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/admin.css">

</head>

<body>
    <header>
        <h1> Admin Page</h1>
    </header>
    <nav>

        <a href="admin">Home</a>
        <a href="admin-datas/user-data">User Data</a>
        <a href="admin-datas/product-data">Product Data</a>
        <a href="admin-datas/addproduct">Add Product</a>
        <a href="admin-datas/order-details">Order Details</a>
        <a href="admin-datas/userRequert">User Question</a>
        <a class="logout" href="/logout">Logout</a>
    </nav>


    <main>
        <div id="page-data">
            <h2>Admin Home Page</h2>
            <div id="admin-info">
                <img src="../../images/addmin/user.png" alt="Admin Image" style="max-width: 50%;">
                <center>
                    <h3>Snehal</h3>
                </center>
                <center>
                    <p>Email: admin@example.com</p>
                </center>
            </div>
        </div>
        </div>
    </main>
</body>
<script src="../../javascripts/admin.js
"></script>

</html>