<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nav</title>
  <link rel="stylesheet" href="../../stylesheets/nav.css">
  <link rel="stylesheet" href="../../stylesheets/cart.css">
</head>
<body>
    <head>
    <div class="navigation">
      <div class="logo">
        <img class="nav-logo-img" src="../../images/logo/OMG.png" alt="LOGO">
      </div>
      <nav class="nav-text">
        <ul>
          <li><a class="nav-txt" href="http://localhost:3000/">Home</a></li>
          {{!-- <li><a class="nav-txt" href="#h1">About</a></li> --}}
        </ul>
      </nav>
      </div>
    </div>
  </head>

   <main>
   <dev class="cart-data"> 
     <div class="name"> <h1> OMG Optical & Gift Articles Store </h1></div>
      <dev class="cart">
         <h2> You can add tha product pls go login </h2>
        <a class=" login-btn-cart" href="login"> Go TO Login </a>
      
      </dev>
   </dev>

   </main>
</body>
</html>                           