<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {{> nav}}
  </head>
  <header>
    <div class="home-section">
      <div class="home-section-main">
        <div class="btn-login-singus">  <a href="login" class="login-btn"> login</a>  <a href="register" class="signup-btn">  sign up </a>
        </div>
        <div class="home-text">
          <h2>OMG</h2>
          <h4>optical & gift articles store</h4>
          {{!-- <a class="home-text-a" href="#"> read about more</a> --}}
        </div>
      </div>
    </div>
  </header>
  <div class="brand">
    <section class="brand-names">
      <a href="#"> <img class="brand-img" src="../../images/brandname/carrea.png" alt="carrera"></a>
      <a href="#"><img class="brand-img" src="../../images/brandname/polaroid.png" alt="polaroid"></a>
      <a href="#"><img class="brand-img" src="../../images/brandname/Logo_Burberry.svg" alt="burberry"></a>
      <a href="#"><img class="brand-img" src="../../images/brandname/titan-logo.svg" alt="titan"></a>
    </section>
  </div>
  <div class="title">
    <h1>Optical</h1>
  </div>
  <div class="optical">
    <div class="optical-feame">
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/Fossil.jpg" alt=""></a>
       
      </div>
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/img1.jpeg" alt=""></a>
       
      </div>
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/img2.jpeg" alt=""></a>
      
      </div>
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/img3.webp" alt=""></a>
     
      </div>
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/img4.webp" alt=""></a>
      
      </div>
      <div class="optical-cart">
        <a href="./cart-data/optical"><img class="optical-img" src="../../images/frames/royal son.webp" alt=""></a>
      
      </div>
    </div>
  </div>
  <div class="title">
    <h1>GIFT ARTICLES</h1>
  </div>
  <div class="gift-articles">

    <section class="gift-articles-1 ">
     <a href="./cart-data/optical"> <img src="../../images/gift/CoolWinks.gif" alt="" class="gift-img"></a>
    <a href="./cart-data/sunglassis">  <img src="../../images/gift/Fastrack.jpg" alt="" class="gift-img"></a>
    </section>
    <section class="gift-articles-1">
     <a href="./cart-data/watches"> <img src="../../images/gift/img 8.jpg" alt="" class="gift-img"></a>
     <a href="./cart-data/watches">  <img src="../../images/gift/img 9.jpg" alt="" class="gift-img"></a>
    </section>
    <section class="gift-articles-1">
     <a href="./cart-data/mal-walltes"> <img src="../../images/gift/pic 10.jpg" alt="" class="gift-img"></a>
    <a href="./cart-data/mal-walltes">  <img src="../../images/gift/pic 3.jpg" alt="" class="gift-img"></a>
    </section>
    <section class="gift-articles-1">
     <a href="./cart-data/balt-data"> <img src="../../images/gift/picture 4.jpg" alt="" class="gift-img"></a>
      <a href="./cart-data/balt-data"> <img src="../../images/gift/picture 8.jpg" alt="" class="gift-img"></a>
    </section>
  </div>
  <div class="title">
    <h1>category</h1>
  </div>
  <div class="category">
    <section class="category-cart"> <a href="#"><img class="category-img" src="../../images/gategery/woman.webp"
          alt="woman"></a></section>
    <section class="category-cart"> <a href="#"><img class="category-img" src="../../images/gategery/man.webp"
          alt="man"></a> </section>
    <section class="category-cart"> <a href="#"><img class="category-img" src="../../images/gategery/kids.jpg"
          alt="kid"></a> </section>
    <section class="category-cart"> <a href="#"><img class="category-img" src="../../images/gategery/more.jpg"
          alt="more-product"></a> </section>
  </div>
  <div class="title" id="h1">
    <h1>about us</h1>
  </div>
  <div class="about">
    <div class="about-text">
      <h2 class="about-tagline">"OMG Opticals and Gifts: Where Clarity Meets Creativity."</h2>
      <p class="about-summary">Welcome to OMG Opticals and Gifts, your one-stop destination for
        a diverse range of eyewear and stylish accessories. Explore our curated collection of
        optical frames and sunglasses, each designed to enhance your vision with precision and flair.
        Our fashion-forward goggles not only protect your eyes but also make a bold style statement.
        For the discerning gentlemen, we offer a sophisticated range of purses and belts that blend
        functionality with fashion, adding an extra touch of refinement to your ensemble. Elevate your
        wristwear game with our stunning selection of watches for both men and women, embodying timeless
        elegance and modern design. At OMG Opticals and Gifts, we strive to provide you with not just
        products, but experiences that reflect your unique style and personality. Discover the perfect
        blend of functionality and fashion as you indulge in the world of opticals, goggles, purses,
        belts, and watches – all under one roof. Your journey to style and vision begins here.
      </p>
      <div class="about-contact">

        <h4 class="con-number"> Phone No: +91 90994 08413</h4>

        <h4 class="con-main"> Email: omgenterprise1810gmail.com</h4>

        <h4 class="con-address"> Address: Shop No. 6, Shakti Shopping Center, Opposite Patel Cycle Store,
          Near Bhamariya Nala, Mahesana-2</h4>
      </div>
    </div>
    <div class="about-adress">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5671.522949338083!2d72.38430917304733!3d23.595864363492684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c4361aca204b5%3A0x69292b0b8bc269dc!2sPARTH%20TRADING%20COMPANY!5e0!3m2!1sen!2sin!4v1707371351539!5m2!1sen!2sin"
          class="add-map" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>

  {{> footer}}
  {{!-- {{> admiNav}} --}}
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all elements with the class "category-cart"
    var categoryCartLinks = document.querySelectorAll('.category-cart a');

    // Loop through each link
    categoryCartLinks.forEach(function(link) {
      // Add click event listener to each link
      link.addEventListener('click', function(event) {
        // Prevent default link behavior
        event.preventDefault();
        // Display alert message
        alert("Please log in to access this page.");
        // You can redirect the user to the login page or perform any other action here
      });
    });
  });
</script>

</html>