<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/cart.css">
    <style>
        .cart-data{
            height: 100vh;
        }
    </style>
</head>
<body>


      <main>
   <dev class="cart-data"> 
     <div class="name"> <h1> OMG Optical & Gift Articles Store </h1></div>
      <dev class="cart">
         <h2> You  Product Liked. </h2>
        <a class=" login-btn-cart" href="/profile"> Go To Home Page </a>
        <a class=" login-btn-cart" href="http://localhost:3000/profile-likeProduct"> Go To Like </a>
      
      </dev>
   </dev>

   </main>
    
  
    
</body>
</html>