<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/register.css">
    <style>
        .home-text {
            position: relative;
            top: -20rem;
        }
    </style>
</head>

<body>


    {{!-- {{> nav}} --}}
    <div class="main">
        <div class="back register-margin"> <a class="back-btn" href="/"> ⬅️ Back To Home </a> </div>
        <div class="container">
            <h1>Register</h1>

            {{!-- {{#if messages.error}}
            <div class="error-message">
                {{messages.error}}
            </div>
            {{/if}} --}}

            {{#if errorMessages}}
            <div class="error-message">
                {{#each errorMessages}}
                <p class="error">{{this}}</p>
                {{/each}}
            </div>
            {{/if}}




            <form action="/register" method="post">
                <div class="form-control">
                    <input type="text" required name="username">
                    <label>User Name</label>
                </div>

                <div class="form-control">
                    <input type="text" id="numberInput" required name="mobile">
                    <label>Phone No</label>
                </div>

                <div class="form-control">
                    <input type="password" required name="password">
                    <label>Password</label>
                </div>

                <input type="submit" class="btn" value="Submit">
                <p class="text"> You have an account go <a href="/login"> Login</a></p>
            </form>
        </div>
        <div>
        </div>

        {{!-- {{> footer}} --}}
    </div>

</body>
<script src="../../javascripts/register.js"></script>

</html>