<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

     <h1> this is footer pages </h1>
     <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae aspernatur dicta expedita tempore quasi, deleniti exercitationem fugiat cupiditate, laboriosam eos aperiam, sit mollitia laborum? Molestiae eius quia modi eveniet sequi!
     Enim nisi et accusantium nemo porro debitis quisquam, tempora, dignissimos eius assumenda vero perspiciatis maiores nam nesciunt non quasi nostrum inventore? Voluptatibus commodi voluptatum, illo velit provident atque totam accusantium?
     Odit ipsam quas corporis qui. Eaque eum necessitatibus exercitationem numquam perspiciatis molestiae consectetur, eligendi odio. Ipsam, maiores, repellendus veniam nisi rem numquam eveniet dolorem reiciendis aut expedita magnam, aspernatur tempora!
     Optio impedit, accusamus suscipit a ut qui nemo numquam, voluptatum aut, itaque corrupti laborum vel voluptate. Tempora porro magnam minus, illo temporibus dolor laudantium eos commodi quidem, delectus dignissimos minima.
     Harum, ipsum. Quaerat commodi impedit accusantium! Non minus iusto deleniti. Eius minus unde ab placeat sequi temporibus, libero molestias voluptatem earum pariatur suscipit aut hic labore nam, odit in. Maiores.
     Architecto debitis esse aliquam quos hic molestias sit itaque blanditiis aliquid. Omnis reprehenderit possimus impedit necessitatibus dolorum exercitationem nesciunt! Magnam veniam cumque alias aliquid eius modi, dolorem laborum hic dicta! </p>
    
</body>
</html>