<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="../../stylesheets/admin.css">
</head>
<body>
      <header>
        <h1> Admin Page</h1>
    </header>
    <nav>
        <Home href="#" >Home</a>
        <a href="admin-datas/user-data">User Data</a>
        <a href="admin-datas/product-data">Product Data</a>
        <a href="admin-datas/addproduct.hbs" >Add Product</a>
        <a href="admin-datas/order-details.hbs" >Order Details</a>
        <a href="admin-datas/user-data" >Add</a>
        <a href="admin-datas/userRequert" >Uer Question</a>
    </nav>
</body>
</html>