<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> footer</title>
    <link rel="stylesheet" href="../../stylesheets/footer.css">
</head>
<body>
     <div class="footer-container">
    <footer class="footer">
            <div class="comp-logo">
                <a class="logo-link" href="#">
                    <img class="logo-svg" src="../../images/footer/OMG.jpg">
                </a>
                <p class="filler-text">Connect us on Our Social 
                    Media Handle And Get Update Seamless Shopping
                    Experiance. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, delectus?</p>
                <div class="social-icon">
                    <a class="social-link" href="#">
                        <img src="../../images/footer/facebook.jpeg" class="social-icon" />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/instagram.jpeg" class="social-icon" />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/linkedin.jpeg" class="social-icon" />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/twitter.jpg" class="social-icon" />
                    </a>
                </div>
            </div>
            <div class="footer-grid">

                <!-- Column 1  -->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Products</h4> 
                        <div class="footer-text">
                          <a href="#Spectacals" class="footer-link">Spectacals</a>
                          <a href="#Watches" class="footer-link">Watches</a>
                          <a href="#Belt" class="footer-link">Belt</a>
                          <a href="#Wallets" class="footer-link">Wallets</a>
                        </div>
                </div>
                <!-- column 2-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer"> Company</h4> 
                    <div class="footer-text">
                        <a href="#Spectacals" class="footer-link">About</a>
                        <a href="#Watches" class="footer-link">Investor</a>
                        <a href="#Belt" class="footer-link">Jobs</a>
                        <a href="#Wallets" class="footer-link">Blog</a>
                      </div>      
                </div>
                <!-- column 3-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Support</h4>
                    <div class="footer-text">
                        <a href="#Spectacals" class="footer-link">Contact</a>
                        <a href="#Watches" class="footer-link">Documentation</a>
                        <a href="#Belt" class="footer-link">Chat</a>
                        <a href="#Wallets" class="footer-link">FAQ</a>
                      </div>
       
                </div>

                <!--column 4-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Legal</h4>

                    <div class="footer-text">
                        <a href="#Spectacals" class="footer-link">Terms of Service</a>
                        <a href="#Watches" class="footer-link">Privacy Policy</a>
                        <a href="#Belt" class="footer-link">Cookie Settings</a>
                      </div>
            
                </div>
            </div>
        <!-- <div class="footer-grid"></div> -->

    </footer>
    <div class="footer-copyright">
        
           <p> © 2024 - OMG Optical , All rights reserved.</p>
 
    </div>
</div>
</body>
</html>