<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> footer</title>
    <link rel="stylesheet" href="../../stylesheets/footer.css">
</head>

<body>
    <div class="footer-container">
        <footer class="footer">
            <div class="comp-logo">
                <a class="logo-link" href="#">
                    <img class="logo-svg" src="../../images/footer/OMG.jpg">
                </a>
                <p class="filler-text">Connect us on Our Social
                    Media Handle And Get Update Seamless Shopping
                    Experiance.</p>
                <div class="social-icon">
                    <a class="social-link" href="#">
                        <img src="../../images/footer/facebook.jpeg"  />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/instagram.jpeg"  />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/linkedin.jpeg" />
                    </a>
                    <a class="social-link" href="#">
                        <img src="../../images/footer/twitter.jpg" />
                    </a>
                </div>
            </div>
            <div class="footer-grid">

                <!-- Column 1  -->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Products</h4>
                    <div class="footer-text">
                        <a href="./footrt_pages/" class="footer-link">Spectacals</a>
                        <a href="#Watches" class="footer-link">Watches</a>
                        <a href="#Belt" class="footer-link">Belt</a>
                        <a href="#Wallets" class="footer-link">Wallets</a>
                    </div>
                </div>
                <!-- column 2-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer"> Company</h4>
                    <div class="footer-text">
                        {{!-- <a href="" class="footer-link">About</a> --}}
                        <a href="http://localhost:3000/footerPages/Investor" class="footer-link">Investor</a>
                        <a href="http://localhost:3000/footerPages/JOB" class="footer-link">Jobs</a>
                        <a href="http://localhost:3000/footerpages/BLOG" class="footer-link">Blog</a>
                    </div>
                </div>
                <!-- column 3-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Support</h4>
                    <div class="footer-text">
                        {{!-- <a href="./footrt_pages/" class="footer-link">Contact</a> --}}
                        <a href="http://localhost:3000/footerPages/Documentaion" class="footer-link">Documentation</a>
                        {{!-- <a href="#Belt" class="footer-link">Chat</a> --}}
                        <a href="http://localhost:3000/footerPages/FAQ" class="footer-link">FAQ</a>
                    </div>
                </div>

                <!--column 4-->
                <div class="footer-grid-column">
                    <h4 class="heading-footer">Legal</h4>

                    <div class="footer-text">
                        <a href="http://localhost:3000/footerPages/TermsOfServices" class="footer-link">Terms of Service</a>
                        <a href="http://localhost:3000/footerPages/PrivacyPolicy" class="footer-link">Privacy Policy</a>
                        <a href="http://localhost:3000/footerPages/CookiesSetting" class="footer-link">Cookie Settings</a>
                    </div>

                </div>
            </div>
            <!-- <div class="footer-grid"></div> -->

        </footer>
        <div class="footer-copyright">

            <p> © 2024 - OMG Optical , All rights reserved.</p>

        </div>
    </div>
</body>

</html>